# File management service - Runs file operations for file management and CRUD thereof


## Maintain the files and sync to database the bs1 for now. bs2 to be added.

### Cat the flat file TSV database
python
cat.py
E:/filemanager/data/part*

### Convert the pretty printed JSON stream to JSON lines
python
ppjson2jsonlines.py

### Fix the file path for storage_location 1 - "D:/dot80/file_storage"', b'"F:/file_storage"
# python
# sed2.py
# "D:/dot80/file_storage"
# "F:/file_storage"

### Check bs_2 to see if it exists on disk, and updated bs1_sha256_error with = "1" if not and "0" if it does exist
python
exists2.py
2

### If bs2_sha256_error is 0, do the SHA256 calc on the file and ungzip it and do it there too if it is a gzip. All others mark bs2_sha256_error = "2"
python
chks3.py
2

# ### Run Par2, if base file is there, if par is not there we create, if it is we validate, 0 for success on either, 1 for failure on either, 2 on failure w python
# python
# chks4.py
# 2

### Clean up stdout trash from libpar2. A better fix would be re-compile with proper stderr usage.
python
jsonlonly2.py
E:/jsonlonly.log

### Save the result in the tmp directory
python
split5.py
E:/filemanager/tmp/part
